<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/base/reset.css">
        <link rel="stylesheet" href="../../css/base/variables.css">
        <link rel="stylesheet" href="../../css/components/buttons.css">
        <title>Botones</title>
    </head>
    <body>
        <h2>Botón primario solid desktop</h2>
        <a class="primary-solid-btn-desk" href="#">Lorem ipsum</a>
        <h2>Botón secundario outlined desktop</h2>
        <a class="secondary-out-btn-desk" href="#">Lorem</a>
        <h2>Botón primario solid mobile</h2>
        <a class="primary-solid-btn-mob" href="#">Lorem ipsum</a>
        <h2>Botón secundario outlined mobile</h2>
        <a class="secondary-out-btn-mob" href="#">Lorem</a>
    </body>
</html>