<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosaico - Header</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
    <body>
        <article class="product-card">
            <div class="product-card-image-container">
                <img class="product-card-image" src="/assets/images/taza_gres_moteado.png" alt="Taza artesanal">
                <button class="product-card-favorite" type="button">
                    <img src="/assets/icons/like-filled.svg" alt="Añadir a favoritos">
                </button>
            </div>
            <div class="product-card-info">
                <div class="product-card-info-price">
                    <div class="product-card-text">
                        <h3 class="product-card-title">Taza artesanal</h3>
                        <p class="product-card-material">Gres moteado</p>
                    </div>
                    <div class="product-card-price">
                        <span>22,00 €</span>
                        <button class="product-card-cart" type="button">
                            <img src="/assets/icons/products.svg" alt="Añadir al carrito">
                        </button>
                    </div>
                </div>
                <div class="product-card-rating">
                    <div class="product-card-stars">
                        <img class="product-star-icon" src="/assets/icons/star-filled.svg">
                        <img class="product-star-icon" src="/assets/icons/star-filled.svg">
                        <img class="product-star-icon" src="/assets/icons/star-filled.svg">
                        <img class="product-star-icon" src="/assets/icons/star-filled.svg">
                        <img class="product-star-icon" src="/assets/icons/star-filled.svg">
                    </div>
                    <span class="product-card-reviews">(28)</span>
                </div>
            </div>
        </article>

        <article class="workshop-card">
            <div class="workshop-card-image-container">
                <img class="workshop-card-image" src="/assets/images/iniciación_cerámica.png" alt="Taller de iniciación a la cerámica">
                <div class="workshop-card-date">
                    <span class="workshop-card-date-day">24</span>
                    <span class="workshop-card-date-month">MAY</span>
                </div>
                <button class="workshop-card-favorite" type="button">
                    <img src="/assets/icons/like-filled.svg" alt="Añadir a favoritos">
                </button>
            </div>
            <div class="workshop-card-info">
                <div class="workshop-card-info-details">
                    <h3 class="workshop-card-title">Iniciación a la cerámica</h3>
                    <div class="workshop-card-details">
                        <div class="workshop-card-detail">
                            <img src="/assets/icons/time.svg">
                            <span>2,5 h</span>
                        </div>
                        <div class="workshop-card-detail">
                            <img src="/assets/icons/location.svg">
                            <span>Madrid</span>
                        </div>
                    </div>
                </div>
                <div class="workshop-card-price">
                    <span>45,00 €</span>
                    <button class="workshop-card-cart" type="button">
                        <img src="/assets/icons/products.svg" alt="Añadir al carrito">
                    </button>
                </div>
            </div>
        </article>
    </body>
</html>