<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosaico - Header</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
    <body>
        <footer class="main-footer">
            <div class="footer-box">
                <div class="footer-logo-social">
                    <img class="logo-desktop" src="/assets/logo/logo_desktop.png" alt="logo">
                    <ul class="social-icon-row">
                            <li><a href="#"><img class="social-icon" src="/assets/icons/instagram.svg"/></a></li>
                            <li><a href="#"><img class="social-icon" src="/assets/icons/facebook.svg"/></a></li>
                            <li><a href="#"><img class="social-icon" src="/assets/icons/pinterest.svg"/></a></li>
                            <li><a href="#"><img class="social-icon" src="/assets/icons/email.svg"/></a></li>
                    </ul>
                </div>
                <div class="footer-list">
                    <ul class="main-footer-list">
                            <li class="footer-list-title">Comprar</li>
                            <li><a class="foot-nav-list" href="#">Todos los productos</a></li>
                            <li><a class="foot-nav-list" href="#">Cerámica</a></li>
                            <li><a class="foot-nav-list" href="#">Velas</a></li>
                            <li><a class="foot-nav-list" href="#">Decoración</a></li>
                    </ul>
                    <ul class="main-footer-list">
                            <li class="footer-list-title">Talleres</li>
                            <li><a class="foot-nav-list" href="#">Todos los talleres</a></li>
                            <li><a class="foot-nav-list" href="#">Cerámica</a></li>
                            <li><a class="foot-nav-list" href="#">Velas</a></li>
                    </ul>
                    <ul class="main-footer-list">
                            <li class="footer-list-title">Información</li>
                            <li><a class="foot-nav-list" href="#">Sobre nosotros</a></li>
                            <li><a class="foot-nav-list" href="#">Envíos y devoluciones</a></li>
                            <li><a class="foot-nav-list" href="#">Preguntas frecuentes</a></li>
                            <li><a class="foot-nav-list" href="#">Contacto</a></li>
                    </ul>
                    <ul class="main-footer-subs">
                        <div class="footer-sub-list">
                            <li class="footer-list-title">Suscríbete a nuestra newsletter</li>
                            <li><a class="foot-subs-nav" href="#">Recibe novedades, talleres y ofertas exclusivas</a></li>
                        </div>
                        <a class="foot-subs-btn" href="#">¡Suscríbete!</a>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>