<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" defer></script>
</head>
    <body>
        <header class="main-header center-content">
            <nav class="header-box center-box">
                <img class="logo-desktop" src="/assets/logo/logo_desktop.png" alt="MosaiCo">
                <img class="logo-mobile" src="/assets/logo/logo_mobile.png" alt="logo">
                <ul class="main-header-nav">
                        <li><a class="nav-list" href="#">Inicio</a></li>
                        <li><a class="nav-list" href="#">Productos</a></li>
                        <li><a class="nav-list" href="#">Talleres</a></li>
                </ul>
                <ul class="main-header-icons">
                        <li><a href="#"><img class="nav-icon" src="/assets/icons/like-empty.svg"/></a></li>
                        <li><a href="#"><img class="nav-icon" src="/assets/icons/shopping-bag.svg"/></a></li>
                        <li><a href="#"><img class="nav-icon" src="/assets/icons/user.svg"/></a></li>
                </ul>
                <a href="#" class="main-header-btn">Contacto</a>
                <button class="header-menu-toggle" type="button">
                    <img src="/assets/icons/menu.svg" alt="Abrir menú">
                </button>
            </nav>
            <nav class="mobile-nav-panel">
                <ul class="mobile-nav-list">
                    <div class="mobile-nav-header">
                        <li><a class="mobile-nav-link mobile-nav-link-active" href="/index.html">Inicio</a></li>
                        <button class="mobile-nav-close" type="button">
                            <img src="/assets/icons/close.svg" alt="">
                        </button>
                    </div>
                    <li><a class="mobile-nav-link" href="/pages/product-catalog.html">Productos</a></li>
                    <li><a class="mobile-nav-link" href="/pages/workshop-catalog.html">Talleres</a></li>
                </ul>
                <ul class="mobile-nav-icons">
                    <li><a class="mobile-icon-btn" href="/pages/favorites.html"><img class="mobile-nav-icon" src="/assets/icons/like-empty.svg" alt=""></a></li>
                    <li><a class="mobile-icon-btn" href="#" id="open-cart-mobile"><img class="mobile-nav-icon" src="/assets/icons/shopping-bag.svg" alt=""></a></li>
                    <li><a class="mobile-icon-btn" href="#" id="open-user-mobile" type="button"><img class="mobile-nav-icon" src="/assets/icons/user.svg" alt=""></a></li>
                </ul>
                <a class="mobile-nav-contact-btn" href="/pages/contact.html">Contacto</a>
            </nav>
        </header>
    </body>
</html>