<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/base/reset.css">
        <link rel="stylesheet" href="../../css/base/variables.css">
        <link rel="stylesheet" href="../../css/components/headlines.css">
        <title>Headlines</title>
    </head>
    <body>
        <section class="headline-section">
            <div class="headline-content">
                <div class="headline-upper-tab">
                    <a class="headline-upper-tab-text" href="#">Link</a>
                    <img class="headline-upper-tab-icon" src="/assets/icons/check-right.svg">
                    <a class="headline-upper-tab-text" href="#">Link</a>
                </div>
                <div class="headline-text">
                    <h1 class="headline-main-title">Título</h1>
                    <p class="headline-main-text">Párrafo</p>
                </div>
            </div>
        </section>
    </body>
</html>