<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
    <body>
        <header class="main-header center-content">
            <div class="header-box center-box">
                <img class="logo-desktop" src="/assets/logo/logo_desktop.png" alt="logo">
                <ul class="main-header-nav">
                        <li><a class="nav-list" href="#">Inicio</a></li>
                        <li><a class="nav-list" href="#">Productos</a></li>
                        <li><a class="nav-list" href="#">Talleres</a></li>
                </ul>
                <ul class="main-header-icons">
                        <li><a href="#"><img class="nav-icon" src="/assets/icons/search.svg"/></a></li>
                        <li><a href="#"><img class="nav-icon" src="/assets/icons/like-empty.svg"/></a></li>
                        <li><a href="#"><img class="nav-icon" src="/assets/icons/shopping-bag.svg"/></a></li>
                        <li><a href="#"><img class="nav-icon" src="/assets/icons/user.svg"/></a></li>
                </ul>
                <a href="#" class="main-header-btn">Contacto</a>
            </div>
        </header>
    </body>
</html>