<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upper Footer</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
    <body>
        <body>
            <section class="upper-footer">
                <div class="upper-footer-box">
                    <div class="upper-footer-group">
                        <img class="upper-footer-icon" src="/assets/icons/eco.svg">
                        <div class="upper-footer-info">
                            <p class="upper-footer-title">Productos sostenibles</p>
                            <p class="upper-footer-text">Materiales de calidad y respetuosos con el medio ambiente</p>
                        </div>
                    </div>
                    <div class="upper-footer-group">
                        <img class="upper-footer-icon" src="/assets/icons/fabric.svg">
                        <div class="upper-footer-info">
                            <p class="upper-footer-title">Hecho a mano</p>
                            <p class="upper-footer-text">Cada pieza está creada con dedicación por artesanos</p>
                        </div>
                    </div>
                    <div class="upper-footer-group">
                        <img class="upper-footer-icon" src="/assets/icons/smile.svg">
                        <div class="upper-footer-info">
                            <p class="upper-footer-title">Apoyo a creadores</p>
                            <p class="upper-footer-text">Tu compra impulsa a pequeños negocios y talento local</p>
                        </div>
                    </div>
                </div>
            </section>
        </body>
    </body>
</html>