<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" defer></script>
</head>
    <body>
        <header>
            <aside class="user-nav-panel oculto" id="user-nav">
                <div class="user-nav-header">
                    <a class="user-nav-title" href="/pages/profile.html">
                        Perfil
                        <img src="/assets/icons/user-primary-500.svg" alt="">
                    </a>
                    <button class="user-nav-close" type="button">
                        <img src="/assets/icons/close.svg" alt="">
                    </button>
                </div>
                <div class="user-nav-btn-group">
                    <a class="user-nav-btn" href="/pages/login.html">Iniciar sesión</a>
                    <a class="user-nav-btn-outline" href="/pages/signin.html">Crear cuenta</a>
                </div>
                <a class="user-nav-logout" href="#">Cerrar sesión</a>
            </aside>
        </header>
    </body>
</html>