/* ACTIVE BTN */
.nav-active{
    border-bottom: 2px solid var(--primary-500);
}

/* LOGO */
.logo-mobile{
    display: none;
}

/* MAIN HEADER */
.main-header{
    position: relative;
    display: flex;
    justify-content: center;
    padding: var(--md) var(--xl);
    background-color: var(--background-50);  
}
.header-box{
    width: 100%;
    max-width: var(--content-max-width); 
    min-width: var(--content-min-width); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-desktop{
    width: 267px;
    height: 70px;
}
.main-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--2xl);
}
.main-header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--lg);
}
.nav-list{
    color: var(--primary-500);
    font: var(--body-small-bold);
}
.nav-list:hover{
    color: var(--primary-300);
}
.nav-list:active{
    color: var(--primary-700);
}
.nav-icon{
    width: var(--md);
}
.main-header-btn{
    width: 200px;
    height: 57px;
    padding: var(--sm) var(--lg);
    font: var(--body-tiny-bold);
    background-color: var(--primary-500);
    color: var(--white);
    border-radius: var(--sm);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header-btn:hover{
    background-color: var(--primary-300);
}
.main-header-btn:active{
    background-color: var(--primary-700);
}

/* MOBILE VERSION */
.header-menu-toggle{
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header-menu-toggle img{
    width: var(--xl);
}
.mobile-nav-panel{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-50);
    display: flex;
    flex-direction: column;
    gap: var(--lg);
    padding: var(--xl);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
    z-index: 1000;
}
.mobile-nav-panel.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* MEDIA QUERY */
@media (max-width: 680px){
    .main-header{
        padding: var(--sm);
    }
    .logo-mobile{
        width: 165px;
        height: 40px;
    }
    .header-box{
        min-width: 0;
        max-width: none;
    }
    .logo-desktop{
        display: none;
    }
    .logo-mobile{
        display: block;
    }
    .main-header-nav,
    .main-header-icons,
    .header-box > .main-header-btn{
        display: none;
    }
    .header-menu-toggle{
        display: flex;
    }
}