.headline-section{
    display: flex;
    justify-content: center;
    padding: var(--xl);
}
.headline-content{
    width: 100%;
    max-width: var(--content-max-width); 
    min-width: var(--content-min-width); 
    display: flex;
    flex-direction: column;
    gap: var(--lg);
}
.headline-upper-tab{
    display: flex;
    gap: var(--lg);
}
.headline-upper-tab-text{
    color: var(--black);
    font: var(--body-small-bold);
}
.headline-upper-tab-text:hover{
    border-bottom: 2px solid var(--black);
}
.headline-upper-tab-icon{
    width: var(--md);
}
.headline-text{
    display: flex;
    flex-direction: column;
    gap: var(--sm);
}
.headline-main-title{
    color: var(--black);
    font: var(--h3);
}
.headline-main-text{
    color: var(--black);
    font: var(--body-base-regular);
}

/* MEDIA QUERY */
@media (max-width: 680px){
    .headline-section{
        padding: var(--md) var(--sm);
    }
    .headline-content{
        min-width: 0;
        max-width: none;
    }
    .headline-upper-tab{
        gap: var(--xs);
    }
    .headline-upper-tab-text{
        font: var(--body-tiny-bold);
    }
    .headline-main-title{
        font: var(--h4);
    }
    .headline-main-text{
        font: var(--body-small-regular);
    }
}