.modal-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease-out, visibility 150ms ease-out;
    backdrop-filter: blur(5px);
}
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal-box{
    width: 400px;
    height: 400px;
    border: 1px solid var(--primary-100);
    border-radius: var(--sm);
    background-color: var(--background-50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--xl);
    transform: scale(0.95);
    transition: transform 150ms ease-out;
}
.modal-overlay.active .modal-box{
    transform: scale(1);
}
.modal-group{
    display: flex;
    flex-direction: column;
    gap: var(--sm)
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-title{
    color: var(--black);
    font: var(--body-small-bold);
}
.modal-close{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal-close img{
    width: var(--md);
}
.modal-text{
    color: var(--black);
    font: var(--body-small-regular);
}
.modal-btn-group{
    display: flex;
    justify-content: space-between;
    gap: var(--sm);
}
.modal-btn-end{
    display: flex;
    justify-content: end;
}
.modal-btn{
    border: none;
    border-radius: var(--sm);
    width: var(--7xl);
    height: var(--xl);
    font: var(--body-small-bold);
    cursor: pointer;
}
.modal-btn-cancel{
    color: var(--white);
    background-color: var(--primary-500);
}
.modal-btn-cancel:hover{
    background-color: var(--primary-300);
}
.modal-btn-delete{
    background-color: transparent;
    color: var(--error-500);
    border: 2px solid var(--error-500)
}
.modal-btn-delete:hover{
    color: var(--error-300);
    border: 2px solid var(--error-300)
}
.modal-btn-agreed{
    background-color: transparent;
    color: var(--success-500);
    border: 2px solid var(--success-500)
}
.modal-btn-agreed:hover{
    color: var(--success-300);
    border: 2px solid var(--success-300)
}
.modal-btn-retry{
    color: var(--white);
    background-color: var(--secondary-500);
}
.modal-btn-retry:hover{
    background-color: var(--secondary-300);
}