.user-nav-panel{
    background-color: var(--background-50);
    display: flex;
    flex-direction: column;
    gap: var(--lg);
    padding: var(--xl);
}
.user-nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-nav-title{
    display: flex;
    align-items: center;
    gap: var(--xs);
    color: var(--primary-500);
    font: var(--body-small-bold);
}
.user-nav-title img{
    width: var(--md);
}
.user-nav-close{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.user-nav-close img{
    width: var(--md);
}
.user-nav-btn-group{
    display: flex;
    flex-direction: column;
    gap: var(--md);
}
.user-nav-btn{
    height: var(--2xl);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--sm);
    background-color: var(--primary-500);
    color: var(--white);
    font: var(--body-small-bold);
}
.user-nav-btn-outline{
    height: var(--2xl);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--sm);
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
    font: var(--body-small-bold);
}
.user-nav-logout{
    color: var(--secondary-500);
    font: var(--body-small-bold);
}