/* CONTACT PAGE */
.contact-page{
    background-color: var(--background-50);
    display: flex;
    flex-direction: column;
}
.contact-section{
    display: flex;
    justify-content: center;
    padding: var(--xl);
}
.contact-box{
    width: 100%;
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);
    display: flex;
    gap: var(--xl);
}

/* FORM CARD */
.contact-form-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--xl);
    padding: var(--xl);
    background-color: var(--white);
    border: 1px solid var(--primary-100);
    border-radius: var(--sm);
}
.contact-form-title{
    color: var(--black);
    font: var(--h5);
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: var(--lg);
}
.contact-row{
    display: flex;
    gap: var(--lg);
}
.contact-field{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--xs);
}
.contact-field-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-label{
    color: var(--black);
    font: var(--body-tiny-bold);
}
.contact-required{
    color: var(--neutral-600);
    font: var(--body-superTiny-regular);
}
.contact-input,
.contact-select,
.contact-textarea{
    width: 100%;
    padding: var(--xs) var(--sm);
    border: 1px solid var(--neutral-200);
    border-radius: var(--xs);
    color: var(--black);
    font: var(--body-small-regular);
}
.contact-input{
    height: var(--2xl);
}
.contact-select{
    height: var(--2xl);
    cursor: pointer;
}
.contact-input::placeholder,
.contact-textarea::placeholder{
    color: var(--neutral-600);
}
.contact-input:focus,
.contact-select:focus,
.contact-textarea:focus{
    outline: none;
    border-color: var(--primary-500);
}
.contact-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--xs);
    height: var(--2xl);
    border: none;
    border-radius: var(--sm);
    background-color: var(--primary-500);
    color: var(--white);
    font: var(--body-small-bold);
    cursor: pointer;
}
.contact-btn:hover{
    background-color: var(--primary-300);
}
.contact-btn img{
    width: var(--md);
}

/* INFO CARD */
.contact-info-card{
    flex: 1;
    padding: var(--xl);
    border: 1px solid var(--primary-100);
    background-color: var(--white);
    border-radius: var(--sm);
}
.contact-info-title{
    color: var(--black);
    font: var(--h5);
    margin-bottom: var(--xl);
}
.contact-info-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--xl) var(--lg);
    font-style: normal;
}
.contact-info-item{
    display: flex;
    align-items: start;
    gap: var(--sm);
}
.contact-info-icon{
    width: var(--lg);
}
.contact-info-content{
    display: flex;
    flex-direction: column;
    gap: var(--xs);
}
.contact-info-heading{
    color: var(--black);
    font: var(--body-small-bold);
}
.contact-info-text{
    color: var(--black);
    font: var(--body-small-regular);
}
.contact-info-link{
    display: flex;
    align-items: center;
    gap: var(--xs);
    color: var(--secondary-500);
    font: var(--body-tiny-bold);
    text-decoration: none;
}
.contact-info-link:hover{
    color: var(--secondary-300);
}
.contact-info-location-icon{
    width: var(--md)
}

/* MEDIA QUERY */
@media (max-width: 680px){

    /* CONTACT PAGE */
    .contact-section{
        padding: var(--md) var(--sm);
    }
    .contact-box{
        min-width: 0;
        max-width: none;
        flex-direction: column;
        gap: var(--lg);
    }

    /* FORM CARD */
    .contact-form-card,
    .contact-info-card{
        padding: var(--lg);
    }
    .contact-row{
        flex-direction: column;
        gap: var(--lg);
    }
    .contact-label{
        font: var(--body-superTiny-bold);
    }
    .contact-required{
        font: var(--body-extraTiny-regular);
    }
    .contact-input,
    .contact-select,
    .contact-textarea{
        font: var(--body-tiny-regular);
    }

    /* INFO CARD */
    .contact-info-list{
        grid-template-columns: 1fr;
    }
}