/* PRODUCT PAGE */
.product-page{
    background-color: var(--background-50);
    display: flex;
    flex-direction: column;
    gap: var(--xl);
}

/* FILTER ROW */
.product-filter-row-bar{
    display: flex;
    justify-content: center;
    padding: 0 var(--xl);
}
.product-filter-bar-content{
    width: 100%;
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);
    display: flex;
    justify-content: space-between;
}
.product-tab-icon{
    width: var(--md);
}
.product-tab-filter-btn{
    height: var(--xl);
    display: flex;
    align-items: center;
    gap: var(--xs);
    padding: 0 var(--lg);
    border: none;
    border-radius: var(--sm);
    background-color: var(--primary-50);
    color: var(--primary-500);
    font: var(--body-small-bold);
    cursor: pointer;
}
.product-tab-filter-btn:hover{
    border: 1px solid var(--primary-500);
}
.product-input-searcher{
    width: 448px;
    height: var(--xl);
    display: flex;
    align-items: center;
    gap: var(--sm);
    background-color: var(--white);
    border: 1px solid var(--neutral-300);
    border-radius: var(--sm);
    padding: var(--xs);
}
.product-input-icon{
    width: var(--md);
}
.product-input{
    flex: 1;
    border: none;
    outline: none;
    color: var(--neutral-500);
    font: var(--body-tiny-regular);
    padding: var(--xs);
}
.product-input-btn{
    width: 116px;
    height: var(--lg);
    border: none;
    border-radius: var(--xs);
    background-color: var(--secondary-500);
    color: var(--white);
    font: var(--body-tiny-bold);
    cursor: pointer;
}
.product-input-btn:hover{
    background-color: var(--secondary-300);
}
.product-sequence{
    display: flex;
    align-items: center;
    gap: var(--sm);
}
.product-sequence-text{
    color: var(--black);
    font: var(--body-small-bold);
}
.product-sequence-tab-btn{
    height: var(--xl);
    display: flex;
    align-items: center;
    gap: var(--xs);
    padding: 0 var(--lg);
    border: none;
    border-radius: var(--sm);
    background-color: var(--secondary-50);
    color: var(--secondary-500);
    font: var(--body-small-bold);
    cursor: pointer;
}
.product-sequence-tab-btn:hover{
    border: 1px solid var(--secondary-500);
}
.product-input-sequence{
    min-width: 1116px;
    display: flex;
    justify-content: space-between;
}

/* FILTER + GALLERY */
.product-gallery{
    display: flex;
    justify-content: center;
    padding: 0 var(--xl);
}
.product-gallery-box{
    width: 100%;
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);
    display: flex;
    justify-content: space-between;
}

/* ASIDE FILTER */
.product-aside{
    display: flex;
    flex-direction: column;
    gap: var(--3xl);
}
.product-aside-content{
    display: flex;
    flex-direction: column;
    gap: var(--md);
}
.product-aside-title-group{
    width: 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-aside-title{
    color: var(--black);
    font: var(--body-base-bold);
}
.product-aside-title-icon,
.product-aside-check,
.product-aside-star{
    width: var(--md);
}
.product-category-options,
.product-material-options,
.product-ranking-options{
    display: flex;
    flex-direction: column;
    gap: var(--md);
}
.product-category-option,
.product-material-option,
.product-ranking-option{
    display: flex;
    align-items: center;
    gap: var(--xs);
}
.product-option-text{
    color: var(--black);
    font: var(--body-small-regular);
}
.product-ranking-group{
    display: flex;
    align-items: center;
    gap: var(--2xs);
}
.product-price-filter{
    width: 100%;
}
.product-price-slider{
    position: relative;
    width: 100%;
    height: var(--sm);
}
.product-price-track{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--xs);
    transform: translateY(-50%);
    background-color: var(--primary-100);
    border-radius: 100px;
}
.product-price-progress{
    position: absolute;
    top: 50%;
    left: 0;
    width: 70%;
    height: var(--xs);
    transform: translateY(-50%);
    background-color: var(--primary-500);
    border-radius: 100px;
}
.product-price-thumb{
    position: absolute;
    top: 50%;
    width: var(--sm);
    height: var(--sm);
    transform: translate(-50%, -50%);
    background-color: var(--primary-800);
    border-radius: 100%;
}
.product-price-thumb.min{
    left: 0;
}
.product-price-thumb.max{
    left: 70%;
}
.product-price-values{
    display: flex;
    justify-content: space-between;
    color: var(--black);
    font: var(--body-small-bold);
}
.product-color-options{
    display: flex;
    flex-wrap: wrap;
    gap: var(--xs);
    max-width: var(--5xl);
}
.product-color-option{
    width: var(--md);
    height: var(--md);
    border: none;
    border-radius: 100%;
    cursor: pointer;
}
.color-beige{
    background-color: var(--primary-500);
}
.color-blue{
    background-color: var(--secondary-500);
}
.color-gray{
    background-color: var(--tertiary-500);
}
.color-brown{
    background-color: var(--warning-300);
}
.color-dark-brown{
    background-color: var(--tertiary-800);
}
.color-gray-dark{
    background-color: var(--background-800);
}
.color-black{
    background-color: var(--black);
}
.color-white{
    background-color: var(--background-500);
}

/* GALLERY */
.product-gallery-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--xl);
}

/* PAGINATION */
.product-gallery-content{
    display: flex;
    flex-direction: column;
    gap: var(--xl);
}
.product-gallery-pagination{
    display: flex;
    justify-content: center;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sm);
    padding: 0 0 var(--xl) 0;
}
.pagination-number{
    width: var(--md);
    height: var(--md);
    border: none;
    background: transparent;
    cursor: pointer;
}
.pagination-number.active{
    background-color: var(--primary-500);
    color: var(--white);
    border-radius: 100%;
}
.pagination-arrow {
    border: none;
    background: transparent;
    cursor: pointer;
}
.pagination-icon{
    width: var(--md);
}